@import "tailwindcss";

/* Variables de colores */
@theme {
  --color-primario: #5271ff;
  --color-secundario: #3147cc;
  --color-texto: #1f2937;
  --color-fondo: #f4f5fa;
  --color-iconos: #fde047;
  --color-acento-claro: #aab8ff;
  --color-otro: #4dd2ff;

}

@font-face {
  font-family: "Playfair Display";
  src: url("/src/assets/fonts/PlayfairDisplay-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("/src/assets/fonts/PlayfairDisplay-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

/* Todos los textos usarán Playfair Display por defecto */
body {
  font-family: "playfair-display", serif;
}
